# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore any database dumps
db

#Ignore sass cache
sites/all/themes/systemick/.sass-cache
